*.pro.user
*.autosave
Makefile
/bin/
/firmwares/
builtin_sounds/
*.o
/dump.rdb
*.gch/c++
qrc_res.cpp
core
Makefile
moc_*.cpp
ui_*.h
qrc_resources.cpp
tmp/
/src/paigo/paigo-qt.gch/c++
/src/paigo/paigo-qt.gch/c
/hostapd
/PaigoTest201701
/info.log
/Issues.md
/OTA.md
/firmwares/rescuefs.tar.gz
/firmwares/ssh.tar.gz
/firmwares/update.sh
/firmwares/paigo-burn-emmc-new-normal.sd-latest.img.xz
/firmwares/paigo-burn-emmc-new-invertc.sd-latest.img.xz
/firmwares/M100.3.0.22_B70554_PuTao_Paigo__15dB_MCFFillIn_STREAM.bin
/firmwares/paigo_stm32_20170207-01_Upgrade.bin
